
<mat-card>
  <mat-card-actions>
    <button mat-flat-button routerLink="/register" >ระบบเพิ่มผู้ป่วย</button>
    <button mat-flat-button routerLink="/treat" >ระบบบันทึกประวัติการรักษา</button>
    <button mat-flat-button routerLink="/onduty" >ระบบเข้าเวรแพทย์</button>
    <button mat-flat-button routerLink="/request" >ระบบยื่นขอเบิกอุปกรณ์</button>
    <button mat-flat-button routerLink="/mediscript" >ระบบออกใบสั่งยา</button>
    <button mat-flat-button routerLink="/paymentinfo" >ระบบออกใบเสร็จชำระเงิน</button>

  </mat-card-actions>
</mat-card>
