<div class="container" [ngStyle]="{'background-image': getUrl(), 'height' : '695px', 'background-size' : 'cover', 'background-repeat': 'no-repeat'}">
  <mat-card class="card">      
        <h1>ระบบห้องแลปตรวจโรค/ตรวจสุขภาพ</h1>
  </mat-card>
  <br><br>

  <div>
    <mat-card class="card-loging">
        <mat-card class="content">
          <div class="button">
            <button mat-flat-button routerLink="/loging"><h2>เข้าสู่ระบบโดยเจ้าหน้าที่</h2></button>
        </div>
        </mat-card>
    </mat-card>
    <br>
    <mat-card class="card-loging">
        <mat-card class="content">
          <div class="button">
            <button mat-flat-button routerLink="/login"><h2>เข้าสู่ระบบโดยเเพทย์</h2></button>
        </div>
        </mat-card>
    </mat-card>
    <br>
  </div>

</div>
