ul li{
    margin-bottom: 15px;
    font-size: 20px;
    margin-left: 50px;
    color: white;
    text-shadow: 1px 1px gray;
}
h1{
	font-size: 50px;
	margin-left: 50px;
	color: white;
	text-shadow: 1px 1px gray;
}