<body>

    <mat-card class="card">
        <mat-card-header class="header">
          ยื่นคำขอเบิกอุปกรณ์
        </mat-card-header>
<mat-form-field class = "dep">
  <mat-select placeholder="เลือกหน่วยงาน" [(ngModel)]= "departmentSelect" name = "department">
    <mat-option *ngFor="let dep of department" [value]= "dep.id">
      {{dep.department}}
    </mat-option>
  </mat-select>
</mat-form-field>

<br><br>

<mat-form-field class = "tool">
    <mat-select placeholder="เลือกอุปกรณ์ที่จะเบิก" [(ngModel)]= "toolSelect" name = "tool">
      <mat-option *ngFor="let tl of tool" [value]= "tl.id">
        {{tl.tool}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  &nbsp;&nbsp;&nbsp;

  <mat-form-field class="amountIn" >
      <mat-placeholder class="placeholder">กรอกจำนวน</mat-placeholder>
      <input matInput [(ngModel)]="amount"  type="number">
    </mat-form-field>

    <br><br>

  <mat-form-field  class="date">
        <input matInput [matDatepicker]="picker" placeholder="วันที่" [(ngModel)]="dateSelect">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <br><br>

  <mat-form-field class = "objecIn">
          <textarea matInput [(ngModel)] = "objective" [ngModelOptions]="{standalone: true}" type="text" placeholder="หมายเหตุ"></textarea>
      </mat-form-field>

      <br><br>

  <mat-form-field class = "sg">
          <mat-select placeholder="ตัวแทนรับอุปกรณ์" [(ngModel)]= "surrogateSelect" name = "surrogate">
            <mat-option *ngFor="let sg of surrogate" [value]= "sg.id">
              {{sg.surrogate}}
            </mat-option>
          </mat-select>
      </mat-form-field>
      &nbsp;&nbsp;&nbsp;
      <mat-form-field class="sgName" >
          <mat-placeholder class="placeholder">ชื่อ-นามสกุล</mat-placeholder>
          <input matInput [(ngModel)]="sgname" >
        </mat-form-field>


      <br><br>

      <mat-form-field class = "doc">
          <mat-select placeholder="แพทย์ผู้กรอก" [(ngModel)]= "doctorSelect" name = "doctorname">
            <mat-option *ngFor="let doc of doctor" [value]= "doc.id">
              {{doc.doctorname}}
            </mat-option>
          </mat-select>
      </mat-form-field>

      <br><br>

      <mat-form-field class = "app">
          <mat-select placeholder="ผู้รับคำร้อง" [(ngModel)]= "approverSelect" name = "approver">
            <mat-option *ngFor="let app of approver" [value]= "app.id">
              {{app.approver}}
            </mat-option>
          </mat-select>
      </mat-form-field>

      <br><br>

      <button  mat-raised-button color = "primary" (click)="submit()"> บันทึกคำขอ</button>&nbsp;&nbsp;
      <button mat-raised-button color ="primary" routerLink="/mainpage" >ยกเลิก</button>
      </mat-card>
</body>

