<h1>ระบบเพิ่มผู้ป่วย</h1>

Select your NameTitle  :
<!--<mat-form-field>-->
  <!--<mat-select [(ngModel)]="petidSelect" placeholder ="ID สัตว์เลี้ยง" name="IdPet">-->
    <!--<mat-option *ngFor="let petInfo of petInfoName" [value]="petInfo.id">-->
      <!--{{petInfo.id}}-->
    <!--</mat-option>-->
  <!--</mat-select>-->
<!--</mat-form-field>-->
<br>
Enter your FirstName  :
<mat-form-field class="firstname">
  <textarea matInput placeholder="ชื่อ"></textarea>
</mat-form-field>
<br>
Enter your LastName  :
<mat-form-field class="lastname">
  <textarea matInput placeholder="นามสกุล"></textarea>
</mat-form-field>
<br>
Select your age  :
<mat-form-field class="age">
  <textarea matInput placeholder="อายุ"></textarea>
</mat-form-field>
<br>
Enter your Birth-Day  :
<mat-form-field class="Birth-Day">
  <textarea matInput placeholder="วันเกิด"></textarea>
</mat-form-field>
<br>
Select your Province  :
<mat-form-field class="Province">
  <textarea matInput placeholder="จังหวัด"></textarea>
</mat-form-field>
<br>
Enter your distract  :
<mat-form-field class="distract">
  <textarea matInput placeholder="อำเภอ"></textarea>
</mat-form-field>
<br>
Enter your sub-distract  :
<mat-form-field class="sub-distract">
  <textarea matInput placeholder="ตำบล"></textarea>
</mat-form-field>
<br>
Enter your House No.  :
<mat-form-field class="House No.">
  <textarea matInput placeholder="เลขที่บ้าน"></textarea>
</mat-form-field>
<br>
Select your postcode  :
<!--<mat-form-field>-->
<!--<mat-select [(ngModel)]="cageSelect" placeholder ="กรงสำหรับ" name="IdCage">-->
<!--<mat-option *ngFor="let cage of cageid" [value]="cage.id">-->
<!--{{cage.detail}}-->
<!--</mat-option>-->
<!--</mat-select>-->
<!--</mat-form-field>-->
<br>
Enter your Patient-type  :
<mat-form-field class="House No.">
  <textarea matInput placeholder="ประเภทผู้ป่วย"></textarea>
</mat-form-field>
<br>
Enter your Patient-Detail  :
<mat-form-field class="Patient-Detail">
  <textarea matInput placeholder="อาการผุ้ป่วย"></textarea>
</mat-form-field>
