<h1>ระบบเพิ่มผู้ป่วย</h1>
  <mat-card>
<h2>Patient Information</h2>
  Please enter your patient information :<br>
<mat-form-field>
  <mat-select [(ngModel)]="sexSelect" placeholder ="Name Title" name="IdSex">
    <mat-option *ngFor="let sex of sexTitle" [value]="sex.id">
      {{sex.nametitle}}
    </mat-option>
  </mat-select>
</mat-form-field>
<br>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Firstname" [(ngModel)]="firstNameEnter">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Lastname" [(ngModel)]="lastNameEnter">
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Age" [(ngModel)]="years">
      <mat-option *ngFor="let age of ages" [value]="age.value">
        {{age.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <h2>Patient Address</h2>
  Enter your pateint address  :
  <mat-form-field>
    <mat-select [(ngModel)]="provinceSelect" placeholder ="จังหวัด" name="IdProvince">
      <mat-option *ngFor="let province of provinceName" [value]="province.id">
        {{province.province}}
      </mat-option>
    </mat-select>
  </mat-form-field>
<br>

  <mat-form-field name="district">
    <input matInput placeholder="District" [(ngModel)]="district">
  </mat-form-field>
  <br>
  <mat-form-field name="subdistrict">
    <input matInput placeholder="Sub-district" [(ngModel)]="subdistrict">
  </mat-form-field>
  <br>

  <mat-form-field>
    <mat-select [(ngModel)]="patienttypeSelect" placeholder ="ประเภทผู้ป่วย" name="IdPatienttype">
      <mat-option *ngFor="let patienttype of patientType" [value]="patienttype.id">
        {{patienttype.type}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field class="example-full-width" name="patientdetail">
    <input matInput placeholder="Patientdetail" [(ngModel)]="patientdetail">
  </mat-form-field>
    <br>
  <mat-form-field class="example-full-width" name="housenumber">
    <input matInput placeholder="Housenumber" [(ngModel)]="housenumber">
  </mat-form-field>
    <br>
    <mat-form-field class="example-full-width" name="postcode">
      <input matInput placeholder="Postcode" [(ngModel)]="postcode">
    </mat-form-field>
    <br>
  <mat-card-actions>
    <button class="click" mat-raised-button (click)="save()">บันทึก</button>
    <button mat-flat-button routerLink="/login" >ยกเลิก</button>
  </mat-card-actions>
</mat-card>
